h1, h2 {
    text-align: center;
}

body {
    background-color: pink;

    display: flex;
    justify-content: center;

    margin: 0;
    font-family: Arial, sans-serif;
}

.app {
    width: 400px;

    background-color: white;

    padding: 20px;

    border-radius: 20px;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.quarto {
    position: relative;
    width: 100%;
}

#fundo {
    width: 100%;
    display: block;
}

#mochi {
    width: 400px;

    position: absolute;

    bottom: -150px;
    left: 50%;

    transform: translateX(-50%);
}

p {
    font-size: 18px;
    text-align: center;
    margin: 5px 0;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 15px;

    margin-top: 20px;

    flex-wrap: wrap;
}

.botoes button {
    width: 160px;
    height: 50px;

    border: none;
    border-radius: 20px;

    cursor: pointer;

    font-size: 18px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;

    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.25);

    transition: all 0.1s ease;

    user-select: none;
}

.botoes button:active {
    transform: translateY(5px);

    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
}

#alimentar,
#brincar,
#dormir,
#minigame,
#adivinhar,
#cliqueRapido,
#voltar {
    background: #c7e0ee;
    color: #1f2a33;

    border: 2px solid rgba(0, 0, 0, 0.1);
}

.jogo {
    width: 700px;
    min-height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

#tentativa {
    width: 150px;

    padding: 10px;

    margin: 15px;

    font-size: 20px;

    text-align: center;

    border-radius: 10px;
    border: 2px solid #c7e0ee;
}

.botao-mochi {
    width: 220px;
    height: 55px;

    background: #c7e0ee;
    color: #1f2a33;

    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    margin: 10px;

    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.25);

    transition: all 0.1s ease;
}

.botao-mochi:active {
    transform: translateY(5px);

    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
}